[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
"boto3" = "*"
pymongo = "*"
dnspython = "*"
flask-bootstrap = "*"
"flask-oauth2-login" = "*"

[dev-packages]

[requires]
python_version = "3.6"
